
@{
    ViewBag.Title = "Todo List";
}

@Styles.Render("~/Content/jqgrid/css")
@Html.ActionLink("Back to Home", "Index", "Home")
<div style="height:50%">
    <table id="grid"></table>
    <div id="pager"></div>
</div>

